:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: #808080;
	--color-bg-1: #00000050;
	--color-bg-2: #ffbf00;
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-0);
	background-size: 100vw 100vh;
	/* background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%); */
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
.badge {
	background-color: hotpink;
	border-radius: 50%;
	padding: 7px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	transform: rotate(-5deg);
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px;
	padding: 5px;
	background-color: azure;
	border-radius: 5px;
	box-shadow: 0 0 15px -5px black;
}
.keeper {
	background-color: pink;
	color: #2f4f4f80;
}
.myteam {
	background-color: dodgerblue;
	color: white;
}
.wifeteam {
	background-color: #ff007f;
	color: #ffff;
}
.taken {
	background-color: #8b000050;
	p {
		color: #ffffff80;
	}
}
.button-stack {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 2px;
}
.SF {
	background-color: #b71c1f;
} /* San Francisco 49ers */
.DET {
	background-color: #0076b6;
} /* Detroit Lions */
.CAR {
	background-color: #0085ca;
} /* Carolina Panthers */
.DAL {
	background-color: #002240;
} /* Dallas Cowboys */

.NE {
	background-color: #002240;
} /* New England Patriots */
.PIT {
	background-color: #bfbfbe;
} /* Pittsburgh Steelers */
.BAL {
	background-color: #6f003d;
} /* Baltimore Ravens */
.CIN {
	background-color: #0085ca;
} /* Cincinnati Bengals */
.CLE {
	background-color: #3b214d;
} /* Cleveland Browns */
.HOU {
	background-color: #032041;
} /* Houston Texans */
.IND {
	background-color: #00265e;
} /* Indianapolis Colts */
.JAX {
	background-color: #0085ca;
} /* Jacksonville Jaguars */
.TEN {
	background-color: #002240;
} /* Tennessee Titans */
.DEN {
	background-color: #fb4f14;
} /* Denver Broncos */
.KC {
	background-color: #b71c1f;
} /* Kansas City Chiefs */
.LV {
	background-color: #000000;
} /* Las Vegas Raiders */
.LAC {
	background-color: #00b4c9;
} /* Los Angeles Chargers */
.SEA {
	background-color: #6cbe4e;
} /* Seattle Seahawks */
.ARI {
	background-color: #972337;
} /* Arizona Cardinals */

.TB {
	background-color: #b4975a;
} /* Tampa Bay Buccaneers */
.ATL {
	background-color: #a71930;
} /* Atlanta Falcons */
.MIA {
	background-color: #008e97;
} /* Miami Garoppolo */
.MIN {
	background-color: #4f2683;
} /* Minnesota Vikings */
.WAS {
	background-color: #002244;
} /* Washington Football Team */

.NYJ {
	background-color: #125740;
} /* New York Jets */
.NYG {
	background-color: #0b2265;
} /* New York Giants */
.SEA {
	background-color: #6cbe4e;
}
.GB {
	background-color: #262d31;
}
.CHI {
	background-color: #0b162b;
}
.LAR {
	background-color: #ffa300;
}
